* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 24px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

input {
  margin: 1rem 1rem;
}

header {
  width: 100%;
  display: flex;
  background-color: rgba(255, 105, 180, 0.5);
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 10;
}

main {
  height: 100%;
  background-color: hotpink;
}

#red {
  accent-color: red;
}
#green {
  accent-color: green;
}

#blue {
  accent-color: blue;
}
